.inner {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
}
.logo {
  width: 50px;
  height: 50px;
}
.title {
  width: 100%;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.loginImg {
  width: 65%;
  min-height: 100vh;
}
.form {
  width: 50%;
}

.input {
  margin-bottom: 10px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #ccc;
}
.btns {
  display: flex;
  justify-content: center;
}
.btnItem {
  width: 65%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 40px;
}
